/* CSS para o vídeo */
#video-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto; /* centraliza o elemento na tela */
}

body {
    overflow: hidden;
}

#my-video {
  margin-top: 0px;
    height: 37vh;
}

#video-controls {
  margin-top: 10px;
}


/* CSS para o diálogo */
#parabens-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
}
#parabens-dialog p {
  margin: 0 0 10px 0;
}
#parabens-dialog #btn-ok {
  margin-top: 20px;
}

/* CSS para os botões */
#theme-toggle,
#discord-button {
margin-top: 20px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%;
}
#theme-toggle:hover,
#discord-button:hover {
  background-color: #eee;
}

/* CSS para outros elementos */
h1,
p,
#timer,
#error-message {
  text-align: center;
}
#pao-bom {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
#creditos-regis {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

/* CSS responsivo */
@media screen and (max-width: 768px) {
  #parabens-dialog {
    max-width: 90%;
  }
  #theme-toggle,
  #discord-button {
    font-size: 14px;
    padding: 8px;
  }
  #pao-bom {
    font-size: 24px;
    margin-top: 20px;
  }
  #creditos-regis {
    font-size: 10px;
    margin-top: 5px;
  }
}
